/* comienzo componente Navbar */
.encabezado {
  background: white;
  width: 100%;
  border-bottom: 1px solid #a7c81f;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 992px;
  padding: 10px 0;
}

.menu .logo_nombre {
  display: flex;
  align-items: center;
}

.menu .logo_nombre h1 {
  color: #000;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  padding-left: 10px;
}

.menu .logo_nombre img {
  width: 100%;
  max-width: 80px;
}

button {
  font-family: 'Bitter', serif;
  width: 120px;
  padding: 10px 10px;
  background-color: #a7c81f;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 15px;
  transition: all 0.5s;
}

button:hover {
  background-color: #849e19;
  cursor: pointer;
  text-decoration: underline;
}

header .fa-shopping-cart {
  font-size: 25px;
  color:#a7c81f;
}

.cerrar-sesion {
  background-color: #a5432a;
}

.cerrar-sesion:hover {
  background-color: #7f3421;
}

header p {
  font-family: 'Bitter', serif;
}
/* cierre componente Navbar */

/* comiezo componente Pedido */
.titulo-h2 {
  background-color: #fff;
  padding-bottom: 30px;
 
}
.detalle-compra {
  margin: 30px auto;
}

.detalle-compra .pedido {
  width: 100%;
}

.detalle-compra .pedido .detalle-producto{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .detalle-compra .pedido li {
  list-style: none;
}

 .pedido .detalle-producto .producto {
  display: flex;
  align-items: center;
}

 .pedido .detalle-producto .producto img {
  width: 100%;
  max-width: 125px;
  padding: 20px 10px;
}

.pedido .detalle-producto .producto h3 {
  font-family: 'Bitter', serif;
}

.pedido .detalle-producto .botones-pedido {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

 .pedido .detalle-producto .botones-pedido p {
  font-family: 'Bitter', serif;
}

.pedido .detalle-producto .botones-pedido .agregar-disminuir {
  font-family: 'Bitter', serif;
  width: 40px;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #a7c81f;
  text-decoration: none;
  margin: 0 10px;
}

.botones-pedido .numero-centrado {
  padding: 0;
}

.pedido .detalle-producto .botones-pedido .agregar-disminuir span {
  font-family: 'Bitter', serif;
}

 .detalle-compra .total {
  text-align: right;
  padding-bottom: 10px;
}

 .detalle-compra .total h4{
  font-family: 'Bitter', serif;
  padding-right: 15px;
}

 .detalle-compra .total .pagar{
  font-family: 'Bitter', serif;
  font-weight: 500;
  color: #000;
  margin: 5px 0;
  padding-right: 15px;
  text-decoration: underline;
}

.detalle-compra .total .pagar:hover{
  text-decoration: none;
}
/* cierre componente Pedido */

/* comiento componente Ingredientes */
.ingredientes h4 {
  font-family: 'Bitter', serif;
  padding-top: 20px;
}

.ingredientes li {
  font-family: 'Bitter', serif;
  padding-top: 10px;
  margin-left: 20px;
}
/* cierre componente ingredientes */

/* comienzo componente Footer */
footer {
  border-top: 1px solid #a7c81f;
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 20px 0;
}

footer small {
  font-family: 'Bitter', serif;

}
/* cierre componente Footer */

/* comienzo vista Home */
.img_fondo {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: top center;
  height: 740px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.img_fondo h1 {
  color: white;
  font-family: 'Bitter', serif;
  font-size: 3em;
  text-shadow: 5px 10px 20px #000;
}

.img_fondo h2 {
  color: #a7c81f;
  font-family: 'Bitter', serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 1px #000;
}
/* cierre vista Home */

/* comienzo vista Iniciar, Registrarse */
main {
  width: 100%;
  max-width: 992px;
  margin: 50px auto;
}

main h2 {
  font-family: 'Bitter', serif;
  font-size: 2em;
  text-align: center;
}

main form {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding-bottom: 10px;
  background-color: #ffebcd;
}

main form label {
  padding-top: 20px;
  margin-left: 250px;
  font-family: 'Bitter', serif;
}

main form input {
  width: 50%;
  margin: 5px auto;
  padding: 10px 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
}

::placeholder {
  font-family: 'Bitter', serif;
}

form .btn-form {
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .btn-form .iniciar-sesion {
  margin: auto;
  text-align: center;
  padding: 10px 0;
  background-color: #a7c81f;
}

form .btn-form .iniciar-sesion:hover {
  background-color: #849e19;
}

form .btn-form .volver {
  margin: auto;
  text-align: center;
  margin: 0 10px;
  background-color: #a5432a;
}

form .btn-form .volver:hover {
  background-color: #7f3421;
}

form .btn-form .agregar-producto {
  margin: auto;
  text-align: center;
  background-color: #a7c81f;
  padding: 10px 0;

}

form .btn-form .agregar-producto:hover {
  background-color: #849e19;
}

form p {
  padding-top: 10px;
  text-align: center;
  font-family: 'Bitter', serif;
}

form span {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

form textarea {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  min-height: 100px;
  max-height: 100px;
  margin: 5px auto;
  padding: 10px 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
}
/* cierre vista iniciar */

/* comiezo de vista Carta */
main .select {
  display: flex;
  justify-content: center;
}

main .categoria {
  background-color: #ffffff;
  color: #000;
  margin: 30px 0;
  width: 70%;
  padding: 10px 0;
  font-family: 'Bitter', sans-serif;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #a7c81f;
  outline: none;
}

main .card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main .card .tarjeta {
  width: 33.3%;
  padding: 0 20px;
  margin-top: 20px;
}

.card .tarjeta img {
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 4px 10px #000;
}

.card .tarjeta h3 {
  font-family: 'Bitter', sans-serif;
  padding-top: 5px;
  text-align: center;
}

.card .tarjeta p {
  font-family: 'Bitter', sans-serif;
  text-align: center;
  font-weight: 500;
}

.tarjeta .botones-carta {
  margin: 20px 0;
}

.tarjeta .botones-carta .agregar-carro {
  background-color: #a5432a;
}

.tarjeta .botones-carta .agregar-carro:hover {
  background-color: #7f3421;
}
/* cierre vista carta */

/* comienzo vista detalle */
.detalle-vista {
  width: 100%;
  display: flex;
  margin: 30px 0;
  background-color: #ffebcd;
}

.detalle-vista .imagen {
  width:40%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.detalle-vista .contenido {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 20px;
}

.detalle-vista .contenido h3 {
  text-transform: capitalize;
  font-family: 'Bitter', sans-serif;
  padding-top: 5px;
}

.detalle-vista .contenido p {
  font-family: 'Bitter', sans-serif;
  font-size: 1em;
  padding-top: 20px;
}

.botones-detalle {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botones-detalle .volver-carta{
  background-color: #a5432a;
}

.botones-detalle .volver-carta:hover{
  background-color: #7f3421;
}
/* cierre vista Detalle */

/* comienzo vista Carro */
.carro-vacio {
  background-color: #ffebcd;
}

.carro-vacio p {
  font-family: 'Bitter', sans-serif;
  padding-left: 10px;
}
/* cierre vista Carro */

/* comienzo vista NotFound */
.not-found {
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
  background-color: #ffebcd;
  margin: 30px auto;
}

.not-found h3{
  text-align: center;
  font-family: 'Bitter', serif;
}

.not-found .btn_nf {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Bitter', serif;
  padding: 10px 10px;
  background-color: #a7c81f;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
}
/* cierre página not-found */

/* Vista de página pagar */
.pago {
  text-align: center;
  margin: 30px auto;
  padding: 20px 0;
  background-color: #ffebcd;
}

.pago i {
  font-size: 100px;
}

.pago h3 {
  text-align: center;
  font-family: 'Bitter', serif;
}
/* cierre vista página pagar */